@model C3_Dominio.Entidades.Cliente
@{
    ViewBag.Title = "modificarCliente";
    Layout = "~/Views/MasterPrincipal.cshtml";
}
<script src="http://code.jquery.com/jquery-latest.js"></script>

<h2>Modificar Cliente</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <table>
            <tr>
                <td>Tipo Documento :</td>
                <td>
                    <select id="SeleccionarTipoDocumento" name="combo" >
                        <option value="Seleccionar">--Seleccionar--</option>
                        <option value="RUC">RUC</option>
                        <option value="DNI">DNI</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Razon Social :</td>
                <td>
                    <input name="txtRazonSocial" type="text" maxlength="25" id="txtRazonSocial" value="@Html.DisplayFor(model => model.RazonSocial)" />
                </td>
            </tr>
            <tr>
                <td>Nombre :</td>
                <td>
                    <input name="txtNombre" type="text" maxlength="25" id="txtNombre" value="@Html.DisplayFor(model => model.NombreCliente)" />
                    @Html.ValidationMessageFor(model => model.NombreCliente)
                </td>


            </tr>
            <tr>
                <td>Apellido Paterno :</td>
                <td>
                    <input name="txtApellidoPaterno" id="txtApellidoPaterno" type="text" maxlength="25" value="@Html.DisplayFor(model => model.ApellidoPaternoCliente)" />
                    @Html.ValidationMessageFor(model => model.ApellidoPaternoCliente)
                </td>

            </tr>
            <tr>
                <td>Apellido Materno :</td>
                <td>
                    <input name="txtApellidoMaterno" id="txtApellidoMaterno" type="text" maxlength="25" value="@Html.DisplayFor(model => model.ApellidoMaternoCliente)" />
                    @Html.ValidationMessageFor(model => model.ApellidoMaternoCliente)
                </td>

            </tr>
            <tr>
                <td>N° Documento :</td>
                <td><input name="txtNroDocumento" value="@Html.DisplayFor(model => model.NumeroDocumento)" onpaste="return false" onkeypress="return solonumeros(event)" type="text" maxlength="11" /></td>
            </tr>
            <tr>
                <td>Direccion :</td>
                <td>  <input name="txtDireccion" type="text" maxlength="50" value="@Html.DisplayFor(model => model.Direccion)" /></td>
            </tr>
            <tr>
                <td>Telefono :</td>
                <td><input name="txtTelefono" type="text" maxlength="20" value="@Html.DisplayFor(model => model.Telefono)" onpaste="return false" onkeypress="return solonumerosTelefono(event)" /></td>
            </tr>
            <tr>
             
                <td><input name="txtTipoDocumento" style="visibility: hidden" id="txtTipoDocumento" type="text" maxlength="15" value="@Html.DisplayFor(model => model.TipoDocumento)" /></td>
            </tr>
            <tr>
                <td>  <input type="submit" value="MODIFICAR" /></td>
                <td>  @Html.ActionLink("LISTADO DE CLIENTES", "RegistroCliente")</td>
            </tr>
        </table>
    </fieldset>
    <h3 align="center" style="color:red">@ViewBag.mensaje</h3>
}
<div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#SeleccionarTipoDocumento").change(function () {
            var texto = $("#SeleccionarTipoDocumento option:selected").text();
            if (texto == "RUC") {
                $("#txtRazonSocial").removeAttr('disabled');
                $("#txtNombre").attr('disabled', 'disabled');
                $("#txtApellidoMaterno").attr('disabled', 'disabled');
                $("#txtApellidoPaterno").attr('disabled', 'disabled');
                $("#txtNombre").val("");
                $("#txtApellidoMaterno").val("");
                $("#txtApellidoPaterno").val("");
            }
            else if (texto == "DNI") {
                $("#txtRazonSocial").attr('disabled', 'disabled');
                $("#txtNombre").removeAttr('disabled');
                $("#txtApellidoMaterno").removeAttr('disabled');
                $("#txtApellidoPaterno").removeAttr('disabled');
                $("#txtRazonSocial").val("");
            }
            // }
        });

    });

    $(document).ready(function () {
      //  $("#SeleccionarTipoDocumento").change(function () {
        var texto = $("#txtTipoDocumento").val();
            if (texto == "RUC") {
                $("#txtRazonSocial").removeAttr('disabled');
                $("#txtNombre").attr('disabled', 'disabled');
                $("#txtApellidoMaterno").attr('disabled', 'disabled');
                $("#txtApellidoPaterno").attr('disabled', 'disabled');
                $("#txtNombre").val("");
                $("#txtApellidoMaterno").val("");
                $("#txtApellidoPaterno").val("");
                $("#SeleccionarTipoDocumento").val("RUC");

            }
            else if (texto == "DNI") {
                $("#txtRazonSocial").attr('disabled', 'disabled');
                $("#txtNombre").removeAttr('disabled');
                $("#txtApellidoMaterno").removeAttr('disabled');
                $("#txtApellidoPaterno").removeAttr('disabled');
                $("#txtRazonSocial").val("");
                $("#SeleccionarTipoDocumento").val("DNI");
            }
            // }
        });
    function solonumeros(e) {
        key = e.keyCode || e.which;
        teclado = String.fromCharCode(key);
        numero = "0123456789";
        especiales = "8-37-38-46";//array
        teclado_especial = false;
        for (var i in especiales) {
            if (key == especiales[i]) {
                teclado_especial = true;
            }
        }
        if (numero.indexOf(teclado) == -1 && !teclado_especial) {
            return false;
        }

    }
    function solonumerosTelefono(e) {
        key = e.keyCode || e.which;
        teclado = String.fromCharCode(key);
        numero = "0123456789-";
        especiales = "8-37-38-46";//array
        teclado_especial = false;
        for (var i in especiales) {
            if (key == especiales[i]) {
                teclado_especial = true;
            }
        }
        if (numero.indexOf(teclado) == -1 && !teclado_especial) {
            return false;
        }

    }
   // });
</script>